/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.mat-dialog-container {
  overflow: hidden !important;
  border-radius: 10px !important;
  box-shadow: -8px -10px -10px -8px #777;
  background: #e0e0e0;
}
